<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943369872612-a7b03dhl57prpdtmb2vorfsj6n8bkj65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943369872612-a7b03dhl57prpdtmb2vorfsj6n8bkj65</string>
	<key>API_KEY</key>
	<string>AIzaSyD_LbiXZ_aomlAwMgdW6o_7s7nc0lTWs1s</string>
	<key>GCM_SENDER_ID</key>
	<string>943369872612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mis.codigos.myAppLogin</string>
	<key>PROJECT_ID</key>
	<string>myapplogin-4f3df</string>
	<key>STORAGE_BUCKET</key>
	<string>myapplogin-4f3df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943369872612:ios:b6412327de11487bff38f1</string>
</dict>
</plist>